body {
    background-color: darkkhaki;
}

header {
    background-color: darksalmon;
    margin-bottom: 20px;
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 40 px;
}

h2 {
    background-color: darkslateblue;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

ul {
    background-color: darkturquoise;
}

ol {
    background-color: deeppink;
}

p {
    background-color: firebrick;
}

footer {
    background-color: green;
    margin-top: 5px;
}
